.stretch-button{
  background-color: rgb(12, 137, 12);
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  transition: 0.5s;
}
.stretch-button:hover{
  background-color: rgb(12, 137, 12);
  border: none;
  color: white;
  padding: 24px 60px;

}