 .bussiness-ad {
   font-family: arial;
   font-size: 35px;
   text-align: center;
   font-weight: bold;
   margin-bottom: 10px;
 }

 .Apple-help {
   font-family: arial;
   font-size: 19px;
   font-weight: bold;
   text-align: center;
   margin-top: 20px;
 }

 .learn-more {
   font-family: arial;
   color: rgb(78, 78, 215);
   font-size: 18px;
   text-align: center;
   font-weight: bold;
 }