.name {
  font-family: Arial;
  font-size: 15px;
  color: black;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}

.codecamp-id {
  font-size: 15px;
  color: rgb(123, 121, 121);
  vertical-align: bottom;
}

.description {
  font-family: Arial;
  font-size: 14px;
  color: black;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 450px;
}

.purpose {
  font-family: Arial;
  font-size: 14px;
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}

.id {
  font-size: 14px;
  color: rgb(35, 144, 207);
  vertical-align: bottom;
}